body {
	background: purple;
	}

#header-nav {
	background-color: blue;
	border-radius: 1em;
	border: 2px solid yellow;
	}
	
h1 {
	color: red;
	font-family: Cursive;
	}

section {
	background-color: white;
	height: 1000px;
	width: 100%;
	}