body {
	background: purple;
	}

#title {
	font-family: Arial;
	color: yellow;
	}
.box {
	background-color: #d9e532;
	height: 70%;
	
	}
	
div h2 {
	color: #f40470;
	text-align: center;
	}

section {
	color: #c63157;
	width: 100%;
	padding: 20px;
	}